body {
  background: #13a13e;
  margin: 0;
  min-height: 100vh;
}

/* Individual image size overrides and grid-area assignments */

.bars {
  width: 100px;
  grid-area: bars;
}

.basketball-court {
  width: 300px;
  grid-area: basketball;
}

.bench1 {
  width: 80px;
  grid-area: bench1;
}

.bench2 {
  width: 80px;
  grid-area: bench2;
}

.bench3 {
  width: 80px;
  grid-area: bench3;
}

.bike_lanes {
  width: 80px;
  grid-area: bike_lanes;
}

.bridge {
  width: 80px;
  grid-area: bridge;
}

.bush1 {
  width: 80px;
  grid-area: bush1;
}

.bushes {
  width: 80px;
  grid-area: bushes;
}

.fountain {
  width: 120px;
  grid-area: fountain;
}

.gazebo {
  width: 80px;
  grid-area: gazebo;
}

.horse {
  width: 90px;
  grid-area: horse;
}

.merry_go_round {
  width: 80px;
  grid-area: merry_go_round;
}

.playhouse {
  width: 80px;
  grid-area: playhouse;
}

.sandbox {
  width: 150px;
  grid-area: sandbox;
}

.seesaw {
  width: 80px;
  grid-area: seesaw;
}

.slide {
  width: 180px;
  grid-area: slide;
}

.teeter_toter {
  width: 120px;
  grid-area: teeter_toter;
}

.tree1_1_1 {
  width: 80px;
  grid-area: tree1_1_1;
}

.tree1_1_2 {
  width: 80px;
  grid-area: tree1_1_2;
}

.tree1_1_3 {
  width: 80px;
  grid-area: tree1_1_3;
}

.tree1_1_4 {
  width: 80px;
  grid-area: tree1_1_4;
}

.tree1_1_5 {
  width: 80px;
  grid-area: tree1_1_5;
}

.tree1_1_6 {
  width: 80px;
  grid-area: tree1_1_6;
}

.tree1_1_7 {
  width: 80px;
  grid-area: tree1_1_7;
}

.tree1_1_8 {
  width: 80px;
  grid-area: tree1_1_8;
}

.tree1 {
  width: 80px;
  grid-area: tree1;
}

.tree2 {
  width: 80px;
  grid-area: tree2;
}

.tree3_1 {
  width: 80px;
  grid-area: tree3_1;
}

.tree3 {
  width: 80px;
  grid-area: tree3;
}

.tree4 {
  width: 80px;
  grid-area: tree4;
}

.tree5 {
  width: 80px;
  grid-area: tree5;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(13, minmax(60, auto));
  gap: 8px;
  padding: 16px;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . tree1_1_5 . . . . . . ."
    ". . . . . . . . . . . . . . . . . ."
    ". . . . . tree1_1_3 . . . . . . tree1_1_6 . . . . ."
    ". . . . . . . . . . . . . . . . . ."
    ". . . . . . . horse . . teeter_toter . . . tree1_1_7 . . ."
    ". . . . . . . . . . . . . . . . . ."
    ". . . tree1_1_2 . . . . . . . . . . . . tree1_1_8 ."
    ". . . . . . . . . . . . . . . . . ."
    ". . . . . . bars . . fountain . . . . slide . . ."
    ". tree1_1_1 . . . . . . . . . . sandbox . . . . ."
    ". . . . . . . . . . . . . . . . . ."
    ". . . . . . . basketball . . . . . . . . . ."
    ;
}

@keyframes hop {
  0% { transform: translateY(0); }
  50% { transform: translateY(-40px) ; }
  100% { transform: translateY(0); }
}

.play-structure-img:hover {
  animation: hop 0.5s cubic-bezier(.68,-0.55,.27,1.55);
  z-index: 2;
}